/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2016, 6:57:13 PM
    Author     : User
*/
#text{
    -fx-font-size : 15;
    -fx-font-weight: bold;
}
.button{
    -fx-background-color: #6633CC;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-background-radius: 6;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    //color: black;
    //border: 2px solid #EE4000
    -fx-color: black;
    -fx-border-color: #000000;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-border-radius: 6;
}
.button:hover {
    -fx-background-color: #FFFACD; 
    -fx-color: white;
}
#hbox_main{
    -fx-background-color: #EEE8CD;
}
#hbox_sub{
    -fx-background-color: #FFCCFF;
}
#button_pause{
    -fx-background-color: #FF4500;
    -fx-text-fill: #000080;
    //color: black;
    //border: 2px solid #EE4000
}
#button_pause:hover {
    -fx-background-color: #FFFACD; /* Green */
    -fx-color: white;
}
#button_play{
    -fx-background-color: #C0FF3E;
    -fx-text-fill: #7B68EE;
    //color: black;
    //border: 2px solid #EE4000
}
#button_play:hover {
    -fx-background-color: #FFFACD; /* Green */
    -fx-color: white;
}
.rectangle{
    -fx-background-color: #330099;
}
#vbox_Instruction{
    -fx-background-color: #7CFC00;
}